<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successfull</title>
    <link href="https://www.tanishq.co.in/favicon.png" rel="shortcut icon" type="image/x-icon">
    <script src="./scripts/paid.js"></script>
    <link rel="stylesheet" href="/css/paid.css">
</head>
<body>
    <div id="paid">
    <img  src = "https://wavescompusoft.com/wp-content/uploads/2017/10/payment-successful.png"/>
</div>
</body>
</html>