*{
    font-family: 'Roboto Slab', serif !important;
}
#biggerforflex{
/* border: 3px solid blueviolet; */
display: flex;
gap: 1%;
}

#num_of_products{
font-weight: 500;
margin-left:11% ;
font-family: 'Roboto Slab', serif;
margin-top: 80px;
}
#items_cartdiv{
/* border: 1px solid black; */
width: 60%;
display: grid;
margin-left: 6%;
font-family: 'Roboto Slab', serif;
}
#foronebox{
/* border: 1px solid blue; */
max-height: 200px;
width: 100%;
display: flex;
font-family: 'Roboto Slab', serif;
}
#pkidiv{
padding-left:5% ;
font-family: 'Roboto Slab', serif;
}
#foronebox img{
width: 60%;
font-family: 'Roboto Slab', serif;
}
#imagekidiv{
/* border: 1px solid red; */
max-width: 30%;
text-align: center;
font-family: 'Roboto Slab', serif;
}
#priceka{
font-size: 20px;
font-weight: 700;
font-stretch: narrower;
margin-bottom: 4%;
margin-top: 4%;
font-family: 'Roboto Slab', serif;
}
#nameka{
font-size: 20px;
font-weight: 700;
font-stretch: narrower;
margin-bottom: 4%;
font-family: 'Roboto Slab', serif;
}
#weight{
font-size: 15px;
font-weight: 300;
margin-top: 0%;
font-family: 'Roboto Slab', serif;
}
#keycode{
font-size: 12px;
font-weight: 900;
margin-bottom: 0%;
letter-spacing: 2px;
font-family: 'Roboto Slab', serif;
}
#linethrough{
text-decoration: 1px line-through;
color: #8c8c8c;
font-family: 'Roboto Slab', serif;
}

#secondonebox{
border: 1px solid grey;
font-family: 'Roboto Slab', serif;
}
#forremove{
border: 1px solid white;
margin-left: 6%;
/* margin-top: 1% !important ; */
max-height: 100px;
/* margin-bottom: 1%; */
cursor: pointer;
padding: 1%;
text-decoration: underline;
letter-spacing: 1px;
background-color: white;
font-family: 'Roboto Slab', serif;
}
#for_total{
/* border: 1px solid green; */
font-family: 'Roboto Slab', serif;
}


#pricedetails{
/* border: 1px solid black; */
width: 30%;
font-family: 'Roboto Slab', serif;
max-height:500px ;
}
#summary{
text-align: left;
font-family: 'Roboto Slab', serif;
margin-top: 0%;
}
#forinputofvoucher{
display: flex;
}
#voucher{
height: 45px;
width: 60%;
text-align: center;
margin-right: 0% !important;
background-color: rgb(240, 240, 240);
border: 1px solid grey;
font-family: 'Roboto Slab', serif;
}
#applyvoucher{
height: 49px;
width: 25%;
margin: 0% !important;
color: white;
background-color: black;
border: 1px solid rgb(10, 10, 10,0.1);
font-family: 'Roboto Slab', serif;
}

#showsuccessofvoucher{
text-align: center;
}
#for_total{
margin-left: 40% ;
}
#free1{
margin-left: 48%;
}
#youpay{
color: red;
/* border: 1px solid black; */
font-size: 21px;
font-weight: 500;
margin-bottom: 1%;
font-family: 'Roboto Slab', serif;
}
#for_total1{
margin-left: 45%;
/* border: 1px solid red; */
font-family: 'Roboto Slab', serif;
}
#inclusive{
margin-top: 1%;
font-size: 13px;
font-family: 'Roboto Slab', serif;
}

#checkoutbot{
width: 90%;
height: 45px;
color: white;
background-color: black;
font-size: 17px;
font-weight: 500;
font-family: 'Roboto Slab', serif;
}
#linkcheckout a{
text-decoration: none !important;
color: white !important;
}

#address{
font-family: 'Roboto Slab', serif;
font-size: larger;
}
#fieldste3{
width: 40%;
margin: auto;
display: grid;
gap: 3%;
height: 500px;

}

#legend3{
display: flex;
gap: 1%;
font-size: 20px;
text-align: center;
padding: 0% 3%;
}
#fieldste3 >input{
height: 45px;
background-color: rgb(245, 245, 245);
border: 1px solid rgb(240, 240, 240);
text-align: left;
font-size: 16px;
font-weight: 200;
padding-left: 3%;
}


/* mehboob */
#div1{
display: flex;
flex-direction: row;
height: 20px;
}
.one-sdv{
display: flex;
flex-direction: row;
list-style-type: none;

}
#ul1{
margin-top: 5px;
}

#ul2{
margin-right: 120px;
margin-left: 140px;
margin-top: 5px;
}

#div1 > ul  li a{
color: #000000;
margin-left: 30px;
font-size: 12px ;
font-family: sans-serif;
font-weight:bold;
text-shadow: 2px 2px 5px rgb(224, 195, 195);
} 

/* TopNavBar 2 */
#logo{
margin-left: 50px;
margin-right: 10px;
margin-top: -10px;
width: 100px;
height: 50px;
}



#div2{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 43px;
margin: 30px;
letter-spacing: 1px;
}

#topnav2{
display: flex;
flex-direction: row;
list-style-type: none;
}

.top > li {
padding: 16px 20px;
color: #181818;
font-size: 13px ;
font-weight: bold;
font-family: sans-serif;

}
#div2 > ul > li :hover{
color: #000000;
}

#topnav2{
margin-right: 280px;
}
.icn-1{
margin-left: 80px;
width: 10px;

}

/* .icn-2{
margin-left: 0px 0px 50px 0px;
} */
#slide-img{
width:100.5%;
height:auto;
margin-top: -20px;
}
div > img > #auto-change {
max-width: 100%;
height: auto;

}
#auto1{
margin-bottom: 100px;
}

.ancr {
list-style-type: none;
text-decoration: none;
list-style: none;
text-decoration: none;
opacity: 0.7;
color: #181818;
}
#shop{
font-family:  'Playfair Display', serif;
font-size: 30px;
text-transform: capitalize;
opacity: 0.8;
text-align: center;
padding: 20px 20px;
}

.exlus{
display: flex;
/* justify-content: space-evenly; */
margin-left: 240px;
margin-right: 240px;

}

#heading1{
text-align: center;
height: 30px;
}

.fimg{
padding: 10px;
}
.simg{
padding: 10px;

}
.timg{
padding: 10px;
padding-bottom: 20px;
}
.banner{
display: flex;
float: right;
}



/* banner img */

.rivaah{
width: auto;
height: 500px;
}
#riva{
float: right;
width: 18%;
margin-right: 275px;
margin-top: 20px;
}
.mid{
margin-right: 100px;
}

.mid-para{
text-align: center;
margin-left: 880px;
margin-right: 370px;
}

.btn{

float: right;
margin-right: 250px;
margin-top: 20px;
}
.btn-bg{
width: 260px;
height: 50px;
color: white;
background-color: #000000;
border: 1px solid #181818;
}
.bg1{
background-color: white;
color: black;
border: 1px solid #181818;
}


/* popup */


/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}

.mids{
font-family: "playfair display";
font-weight: bold;
}
.mids1{
font-family: "playfair display";
font-weight: 400;
}



img #close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div #popupContact {
position:absolute;
left:45%;
top:17%;
margin-left:-202px;
font-family:  'Playfair Display', serif;
}

#form {
max-width:600px;
min-width:300px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
.p-tg {
margin-top:30px
}
#h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc;
width: 1390px
}

/* input[type=text],input[type=email],input[type=tel] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
} */

#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:rgb(194, 107, 107);
color:white;
border:1px solid #181818;
padding:10px 0;
margin-top: 20px;
font-size:20px;
cursor:pointer;
border-radius:5px
}

/* span {
color:red;
font-weight:700
} */

.three-el{
background-color: #f2f0e8;
height: 35vh;
width: 100%;
height: auto;
/* margin-top: 40px; */
display: inline-block;
}

.top-footer{
background-color: #b0a16e;
height: 110vh;



}
.three-el{
display: grid;
grid-template-columns: auto auto auto;
text-align: center;
height: 180px;
justify-content: center;
align-items: center;

}
.one-el{
padding: 20px;
font-family:  "playfair display";
font-weight: 400;

}
.one el > h3{
font-family: "playfair display";

}
.one-el > p {
font-family: "playfair display";
font-weight: 400;
}
#ftr{
margin-top: 50px;
}

/* footer */
.in-foot{
display: block;
text-align: center;
color: #FFFFFF;
align-items: center;

}
.ft-tg{
text-align: center;
}
.class-btn1{
height: 52px;
width: 300px;
margin: 20px;
background-color: #b0a16e;
border: 1px solid white;
color: white;

}

#line{
margin-left: 200px;
margin-right: 200px;
}

.foot-cont{
display: flex;
justify-content: space-evenly;
margin-top: 60px;
color: white;
font-family: "playfair display";

}
#ft-head{
font-size: 20px;
font-weight: 400;
}

.first-items > ul > li,.second-items > ul > li,.third-items > ul > li{
list-style-type: none;
text-decoration: none;
padding: 10px;

}

ul > .ft-itms{
margin-bottom: 50px;
margin-left: 20px;



/* line-height: 50px; */
font-weight: bold;
}
#ft-mail{
width: 300px;
height: 52px;
border: 1px solid white;
color: white;
background-color: #b0a16e
}
.btn-cls{
display: flex;
flex-direction: row;


}
#t-btn{
width: 100px;
height: 52px;
margin-top: 30px;
border: 1px solid white;
background-color: white;
color: #b0a16e
}
#follo{
margin-top: 21px;
}

.socialmedia{
display: flex;
padding: 30px;
}

#faicon{
padding: 20px;
margin-left: 10px;
}

#app{
margin-bottom: 20px;
margin-left: 15px;
}

#termscon{
display: flex;
justify-content: space-around;
font-size: 11px;
}

#copyright{
display: flex;
font-size: 11px;
margin-top: 20px;
margin-left: 80px;
padding: 5px;
}
#copy{
padding: 2px;
}

.last{
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 12px;
margin: -20px;
background-color: rgb(176, 161, 110);
color: rgb(176, 161, 110);
}

#width{
width: 60px;
height: 40px;
background-color: #b0a16e;
color: #b0a16e;
}

.same2{
height: 10px;
}
.width2{
margin-bottom: 10px;
padding-bottom: 10px;
}

/* Terms and conditions */
.tandc{
color: white;
}
.tandc:hover{
color: black;
}

#im-app:hover{
color: pink;
}

.pt-tg{
font-family: "playfair display";
font-size: 18px;
}
placeholder{
color: white;
}

#ft-city1{
width: 300px;
height: 52px;
border: 1px solid white;
color: white;
background-color: #b0a16e
}

#t-btn1{
width: 100px;
height: 52px;
margin-top: 30px;
border: 1px solid white;
background-color: white;
color: #b0a16e;
margin-right: 80px;
}

#faicon:hover{
color: #ccc;
}



/* Dropdown */
.navbar{
overflow: hidden;

}

/* .navbar a {

} */

.dropdown{
display: right;
overflow: hidden;
}
.dropdown .dropbtn{
border: none;
outline: none;
color: white;
padding: 14px 14px;
font-size: 12px;
background-color: inherit;
font: inherit;
margin: 0;
}
.dropbtn{
font-size: 12px;
word-spacing: 5px;
}
.dropbtn:hover{
text-decoration: underline;
text-underline-offset: 15px;
cursor: pointer;
}
.dropdown-content {
display: none;
position: absolute;
background-color: whitesmoke;
width: 100%;
left: 0;
box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content .header {
/* background: #f9f9f9; */
padding-bottom: 20px;
}
.dropdown:hover .dropdown-content {
display: block;
text-decoration: underline;
}

.column {
float: left;
width: 33.33%;
padding: 10px;
background-color: #fafafa;
height: 450px;
}

.column a {
float: none;
color: black;
padding: 12px;
padding-bottom: 10PX;
text-decoration: none;
display: block;
text-align: left;
}
.column a:hover {
color: #181818;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}  