#div1 {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .one-sdv {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .wishlis {
    text-decoration: none;
  }
  #ul1 {
    margin-top: 5px;
  }
  
  #ul2 {
    margin-right: 120px;
    margin-left: 140px;
    margin-top: 5px;
  }
  
  #div1 > ul li a {
    color: #000000;
    margin-left: 30px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(224, 195, 195);
  }
  
  /* TopNavBar 2 */
  #logo {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: -10px;
    width: 100px;
    height: 50px;
  }
  
  #div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43px;
    margin: 30px;
    letter-spacing: 1px;
    color: rgb(24, 24, 24);
  }
  
  .ulnav {
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #topnav2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
  }
  .top > li {
    
    padding: 16px 20px;
    color: #181818;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  #div2 > ul > li :hover {
    color: #000000;
  }
  
  #topnav2 {
    margin-right: 280px;
  }
  .icn-1 {
    margin-left: 80px;
    width: 10px;
    cursor: pointer;
  }
  
  .icn-2 {
    cursor: pointer;
  }
  #slide-img {
    width: 100.5%;
    height: auto;
    margin-top: -20px;
  }
  div > img > #auto-change {
    max-width: 100%;
    height: auto;
  }
  #auto1 {
    margin-bottom: 100px;
  }
  .ancr , #cartbutton {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
    color: #181818;
    border:none;
    background-color: white;
    cursor: pointer;
}
#cartbutton{
    margin-bottom: 0.05%;
}
#cart{
    font-size: 100%;
}
  
  .ancr {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
    color: #181818;
  }
  #shop {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    text-transform: capitalize;
    opacity: 0.8;
    text-align: center;
    padding: 20px 20px;
  }
  
  .exlus {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    cursor: pointer;
  }
  
  #heading1 {
    text-align: center;
    height: 30px;
  }
  
  .fimg {
    padding: 10px;
  }
  .simg {
    padding: 10px;
  }
  .timg {
    padding: 10px;
    padding-bottom: 20px;
  }
  .banner {
    display: flex;
    float: right;
  }
  
  .mid-btn {
    /* border: 6px solid red; */
    width: 50%;
    margin-left: 19%;
    margin-top: 4%;
  }
  .mid-btn > p {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  /* banner img */
  
  .rivaah {
    height: 400px;
  }
  #riva {
    width: 20%;
    margin-top: 5%;
    margin-left: 63%;
  }
  .mid {
    width: 71%;
    margin-left: 21%;
  }
  
  #mid-para {
    text-align: center;
    margin-left: 52%;
    margin-top: -1%;
    font-weight: inherit;
    margin-right: 6%;
    line-height: 150%;
    font-family: sans-serif;
  }
  .arrange-btn {
    margin-left: 710px;
    margin-top: 20px;
  }
  .btn-bg {
    width: 260px;
    height: 50px;
    color: white;
    background-color: #000000;
    border: 1px solid #181818;
    cursor: pointer;
  }
  .bg1 {
    background-color: #efc3cb;
    color: black;
    border: 1px solid #181818;
    cursor: pointer;
  }
  /* reseting inline part from index */
  
  #imgfr1 {
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
  }
  #eardiv {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  #ech1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  #newdiv {
    justify-content: center;
    margin-left: 120px;
  }
  
  /* span {
  color:red;
  font-weight:700
  } */
  
  .three-el {
    background-color: #f2f0e8;
    /*  height: 35vh;
      width: 100%; */
    height: auto;
    /* margin-top: 2000px;  */
    /*  display: inline-block; */
  }
  
  .top-footer {
    background-color: #b0a16e;
    /*  height: 110vh; */
    width: 100%;
    margin: auto;
    /* border: 7px solid red; */
  }
  .three-el {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    height: 180px;
    justify-content: center;
    align-items: center;
  }
  .one-el {
    padding: 20px;
    font-family: "playfair display";
    font-weight: 400;
  }
  .one el > h3 {
    font-family: "playfair display";
  }
  .one-el > p {
    font-family: "playfair display";
    font-weight: 400;
  }
  #ftr {
    margin-top: 50px;
  }
  
  /* footer */
  .in-foot {
    display: block;
    text-align: center;
    color: #ffffff;
    align-items: center;
    /* border: 6px solid blue; */
  }
  .ft-tg {
    text-align: center;
  }
  .class-btn1 {
    height: 55px;
    width: 25%;
    margin-right: 10%;
    background-color: #b0a16e;
    border: 1px solid white;
    color: white;
  }
  
  #line {
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .foot-cont {
    display: flex;
    gap: 9%;
    margin-top: 60px;
    color: white;
    font-family: "playfair display";
    width: 100%;
    /* border: 7px solid blue; */
    display: flex;
  }
  #ft-head {
    font-size: 20px;
    font-weight: 400;
  }
  
  .first-items {
    width: 20%;
    margin-left: 8%;
    /* border: 4px solid yellow; */
  }
  .second-items {
    width: 20%;
    /* border: 4px solid grey; */
  }
  .third-items {
    width: 35%;
  }
  .first-items > ul > li,
  .second-items > ul > li,
  .third-items > ul > li {
    list-style-type: none;
    text-decoration: none;
    /* margin-left: 750px; */
    /* border: 3px solid red; */
  }
  
  ul > .ft-itms {
    margin-bottom: 50px;
    margin-left: 20px;
  
    /* line-height: 50px; */
    font-weight: bold;
  }
  #ft-mail {
    width: 300px;
    height: 52px;
    border: 1px solid white;
    color: white;
    background-color: #b0a16e;
  }
  .btn-cls {
    display: flex;
  }
  #t-btn {
    width: 100px;
    height: 56px;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e;
  }
  #follo {
    margin-top: 21px;
  }
  
  .socialmedia {
    display: flex;
  }
  
  #faicon {
    padding: 1%;
    margin-left: 10px;
  }
  
  #app {
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  #termscon {
    display: flex;
    font-size: 13px;
    gap: 5%;
  }
  
  #copyright {
    display: flex;
    font-size: 13px;
    margin-top: 20px;
  
    padding: 5px;
  }
  #copy {
    padding: 2px;
  }
  
  .last {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    /* margin: -20px; */
    background-color: rgb(176, 161, 110);
    color: rgb(176, 161, 110);
    /* border: 6px solid yellow; */
    width: 90%;
    margin: auto;
  }
  
  #width {
    width: 60px;
    height: 40px;
    background-color: #b0a16e;
    color: #b0a16e;
  }
  
  .same2 {
    height: 10px;
  }
  .width2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  /* Terms and conditions */
  .tandc {
    color: white;
  }
  .tandc:hover {
    color: black;
  }
  
  #im-app:hover {
    color: pink;
  }
  
  .pt-tg {
    font-family: "playfair display";
    font-size: 18px;
    padding: 3%;
    width: 70%;
    text-align: center;
    margin: auto;
  }
  placeholder {
    color: white;
  }
  #divforset {
    display: flex;
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    justify-content: center;
  }
  #ft-city1 {
    margin-right: 0% !important;
    width: 25%;
    height: 53px;
    border: 1px solid white;
    color: white;
    background-color: #b0a16e;
  }
  
  #t-btn1 {
    margin-left: 0% !important;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e;
    margin-right: 80px;
    width: 10%;
    height: 57px;
  }
  
  #faicon:hover {
    color: #ccc;
  }
  
  /* Dropdown */
  .navbar {
    overflow: hidden;
  }
  
  /* .navbar a {
      
  } */
  
  .dropdown {
    display: right;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #181818;
    padding: 14px 14px;
    font-size: 12px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  .dropbtn {
    font-size: 12px;
    word-spacing: 5px;
    color: #181818;
    opacity: 0.8;
  }
  .dropbtn:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content .header {
    /* background: #f9f9f9; */
    padding-bottom: 20px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    text-decoration: underline;
  }
  
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #fafafa;
    height: 450px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 12px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column a:hover {
    color: #181818;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/*   ending for top two nav-bars */
  *{
    font-family: sans-serif;
}
#pageToHome{
    margin-left: 50px;
    margin-top: 20px;
    letter-spacing: 1px;
}
#home-btn{
    border: none;
    margin-right: -3px;
    
    background-color: white;
    float: left;
    cursor: pointer;
} 
#home-btn > a{
    color: #8c8c8c;
    text-decoration: none;
}
#arrow{
    float: left;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 1px;
    color: #8c8c8c;
}
#text1{
    float: left;
    font-size: 12px;
    margin-top: 1px;
}
#text2{
    font-size: 13px;
}
#picture{
    max-width: 30%;
    margin-left: -40px;
    margin-top: 5%;
    float: left;
}
#matter-txt{
    margin-left: 670px;
    letter-spacing: 1px;
}
#rating{
    margin-left: 200px;
    font-size: 20px;
    color:#c09f6c;
    cursor: pointer;
}
#item_name{
    font-size: 22px;
    letter-spacing: normal;
}
#price_txt{
    color: black;
    letter-spacing: normal;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%
}
#rupee_sym{
    margin-left: 2%;
    margin-right: 1%;
    color: black;
    margin-top: 2%;
}
#taxes{
    font-size: 14px;
    margin-top: -4px;
    color: #8c8c8c;
    letter-spacing: normal;
}
#p-break{
    margin-left: 5px;
    color: #b0a16e;
    font-size: 13px;
}
#weight-txt{
    letter-spacing: normal;
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 12px;
}
#parah{
    font-size: 15px;
    letter-spacing: normal;
    line-height: 25px;
}
#pd{
    color: #b0a16e;
    font-size: 15px;
}
#gw{
    margin-top: 15px;
    font-size: 14px;
}
#quantity{
     margin-left: 430px;
}
#net-qty{
    font-size: 13px;
    margin-top: -80px;
    font-weight: normal;
}
#qty{
    font-size: 25px;
    padding: 8px;
    border: 1px solid black;
    font-weight: normal;
} 
#minus{
    margin-top: 50px;
    margin-left: -12px;
    font-size: 30px;
    font-weight: normal;
    margin-right: 3px;
    color: #8c8c8c;
}
#plus{
    margin-left: 3px;
    color: #8c8c8c;
}
#gram-btn{
    margin-top: 20px;
    width: 350px;
    height: 55px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
#try-on{
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 30px;
    border: none;
     cursor: pointer;
}
#add-cart{
    margin-left: 20px;
    width: 190px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
#booking{
    margin-left: 30px;
    height: 50px;
    width: 220px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
#correct{
    margin-left: 70px;
    font-size: 12px;
    font-weight: bolder;
}
#items-left{
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}
  
  