#div1{
    display: flex;
    flex-direction: row;
    height: 20px;
}
.one-sdv{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
#ul1{
    margin-top: 5px;
}

#ul2{
    margin-right: 120px;
    margin-left: 140px;
    margin-top: 5px;
}

 #div1 > ul  li a{
    color: #000000;
    margin-left: 30px;
    font-size: 12px ;
    font-family: sans-serif;
    font-weight:bold;
    text-shadow: 2px 2px 5px rgb(224, 195, 195);
} 

/* TopNavBar 2 */
#logo{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: -10px;
    width: 100px;
    height: 50px;
}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43px;
    margin: 30px;
    letter-spacing: 1px;
}

#topnav2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.top > li {
    padding: 16px 20px;
    color: #181818;
    font-size: 13px ;
    font-weight: bold;
    font-family: sans-serif;
    
}
#div2 > ul > li :hover{
    color: #000000;
}

#topnav2{
    margin-right: 280px;
}
.icn-1{
    margin-left: 80px;
    width: 10px;
    cursor: pointer;
}

 .icn-2{
   cursor: pointer;
} 
#slide-img{
    width:100.5%;
    height:auto;
    margin-top: -20px;
}
div > img > #auto-change {
    max-width: 100%;
    height: auto;
   
}
#auto1{
    margin-bottom: 100px;
}

.ancr {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
    color: #181818;
}
#shop{
    font-family:  'Playfair Display', serif;
    font-size: 30px;
    text-transform: capitalize;
    opacity: 0.8;
    text-align: center;
    padding: 20px 20px;
}

 .exlus{
    display: flex;
    justify-content: center;
    cursor: pointer;
   
}

#heading1{
    text-align: center;
    height: 30px;
}

.fimg{
    padding: 10px;
}
.simg{
    padding: 10px;
    
}
.timg{
    padding: 10px;
    padding-bottom: 20px;
}
.banner{
    display: flex;
    float: right;
}

/* banner img */

.rivaah{
    height: 400px;
}
#riva{
    width: 18%;
    margin-right: 275px;
    margin-top: 20px;
}
.mid{
    width: 95%;
    margin-bottom: 10px;
    margin-left: 850px;
}

#mid-para{
    text-align: center;
    margin-left: 700px;
    margin-top: -10px;
    font-weight: inherit;
    margin-right: 100px;
    line-height: 30px;
    font-family: sans-serif;
}
.arrange-btn{
    margin-left: 710px;
    margin-top: 20px;
   
}
.btn-bg{
    width: 260px;
    height: 50px;
    color: white;
    background-color: #000000;
    border: 1px solid #181818; 
    cursor: pointer;
}
.bg1{
    background-color: white;
    color: black;
    border: 1px solid #181818;
    cursor: pointer;
}
.top-footer{
    background-color: #b0a16e;
   width: 100%;
   margin: auto;
   margin-top: 300%; 
}

/* footer */
.ft-tg{
    text-align: center;
    
}
.class-btn1{
   
    height: 55px;
    width: 25%;
    margin-right: 10%;
    background-color: #b0a16e;
    border: 1px solid white;
    color: white;
    
}


#line{
    margin-left: 200px;
    margin-right: 200px;
}

.foot-cont{
    display: flex;
   gap: 9%;
    margin-top: 60px;
    color: white;
    font-family: "playfair display";
    width: 100%;
    /* border: 7px solid blue; */
    display: flex;
}
#ft-head{
    font-size: 20px;
    font-weight: 400;
}

.first-items{
    width: 20%;
    margin-left: 8%;
    /* border: 4px solid yellow; */
}
.second-items{
    width: 20%;
    /* border: 4px solid grey; */
}
.third-items {
    width: 35%;
 
}
.first-items > ul > li,.second-items > ul > li,.third-items > ul > li{
    list-style-type: none;
    text-decoration: none;
   line-height: 200%;
}

ul > .ft-itms{
    margin-bottom: 50px;
   margin-left: 20px;
   font-weight: bold;
}
#ft-mail{
    width: 300px;
    height: 52px;
    border: 1px solid white;
    color: white;
    background-color: #b0a16e;
    text-align: center;
    letter-spacing: 1%;
}
.btn-cls{
    display: flex;
}
#t-btn{
    width: 100px;
    height: 56px;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e
}
#follo{
    margin-top: 21px;
}

.socialmedia{
    display: flex;
  
}

#faicon{
   padding: 1%;
   margin-left: 2%;
}

#app{
    margin-bottom: 20px;
    margin-left: 15px;
}

#termscon{
    display: flex;
    font-size: 13px;
    gap: 5%;
}

#copyright{
    display: flex;
    font-size: 13px;
    margin-top: 20px;
    
    padding: 5px;
}
#copy{
    padding: 2px;
}

.last{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    background-color: rgb(176, 161, 110);
    color: rgb(176, 161, 110);
    width: 90%;
    margin: auto;
}

#width{
    width: 60px;
    height: 40px;
    background-color: #b0a16e;
    color: #b0a16e;
}

.same2{
    height: 10px;
}
.width2{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Terms and conditions */
.tandc{
    color: white;
}
.tandc:hover{
    color: black;
}

#im-app:hover{
    color: pink;
}

.pt-tg{
    font-family: "playfair display";
    font-size: 18px;
    padding: 3%;
    width: 70%;
    text-align: center;
    margin: auto;
}
#ft-city1{
   margin-right: 0% !important;
   width: 25%;
    height: 53px;
    border: 1px solid white;
    color: white ;
    background-color: #b0a16e
    
}

#t-btn1{
    margin-left: 0% !important;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e;
    margin-right: 80px;
    width: 10%;
    height: 57px;
}

#faicon:hover{
color: #ccc;
}



/* Dropdown */
.navbar{
    overflow: hidden;
    
}

/* .navbar a {
    
} */

.dropdown{
    display: right;
    overflow: hidden;
}
.dropdown .dropbtn{
    border: none;
  outline: none;
  color: white;
  padding: 14px 14px;
  font-size: 12px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}
.dropbtn{
    font-size: 12px;
    word-spacing: 5px;
}
.dropbtn:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content .header {
    /* background: #f9f9f9; */
    padding-bottom: 20px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    text-decoration: underline;
  }

  .column {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #fafafa;
    height: 450px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 12px;
    padding-bottom: 10PX;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column a:hover {
    color: #181818;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  *{
    font-family: sans-serif;
}
#txt{
    margin-left: 110px;
    margin-top: 100px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
#box{
    margin-top: 70px;
    width: 250px;
    margin-left: -10px;
    border: 1px solid rgb(199, 191, 191);
    color:lightgrey;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}
#filter{
    font-size: 20px;
    margin-top: 0px;
    float: left;
}
#clear-all{
    margin-left: 150px;
    margin-top: 35px;
    font-size: 12px;
    color:rgb(209, 199, 199);
    text-underline-offset: 5px;
}
#clear{
    clear: both;
}
#filter-cont{
    font-family: 'Roboto', sans-serif;
    font-weight: 30px;
    letter-spacing: 1px;
}
/*  styles for dropdowns */
#dropdowns{
    width: 1200px;
   position: absolute;
   margin: 0%;
} 
#line1{
    border: 0.1px solid rgb(233, 227, 227);
    border-width: thin;
    height: 0px;
    width: 240px;
    margin-left: -10px;
    margin-top: 10px;
}
.collapsible {
    background-color: white;
    cursor: pointer;
    width: 20%;
    padding: 1.5%;
    border: none;
    margin-left: -14px;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 55px;
}
.active:after {
    content: "\2212";
}
.content {
    max-height: 0px;
    overflow: hidden;
    letter-spacing: 1px;
    line-height: 200%;
    transition: max-height 0.2s;
    max-width: 20%;
}
#line2{
    border: 0.1px solid rgb(233, 227, 227);
    border-width: thin;
    height: 0px;
    width: 240px;
    margin-left: -10px;
    margin-top: 4px;
}
#product-cont{
    position: absolute;
    margin-left: 380px;
    margin-top: -150px;
}
 #sorting{
    margin-left: 380px;
    margin-bottom: 20px;
   
} 
#sorting h4{
    text-align: right;
    margin-right: 50px;
     margin-top: -30px;
}
#sorting div{
    font-size: 12px;
}
#sellers{
    color: #8c8c8c;
}
#stand{
    margin-left: 15px;
    margin-right: 15px;
}
#dis{
    color: black;
}
#pic{
    width: 95%;
}
#data{
    margin-top: 20px;
    margin-bottom: 50%;
    margin-right: 5%; 
    display: grid;
    gap: 5%;
    text-align: center;
    grid-template-columns: 30% 30% 30%; 
}
#data img{
    width: 100%;
}
#details{
    background: #fff;
    cursor: pointer;
    border: none;
}
#details:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#name{
    font-size: medium;
    font-weight: 500;
    font-display: sa;
    font-family: 'Roboto', sans-serif;
}
#price{
    font-weight: bold;
    font-size: 130%;
}
#extraProd{
    margin-left: 36%;
}
#smp{
    margin-left: 37%;
    width: 23%;
    font-size: 100%;
    border: none;
    cursor: pointer;
    padding: 2%;
    background-color: black;
    color: white;
}
#text{
    width: 130px;
    margin-left: 80px;
}
#location{
  
    font-size: 15px;
    background-color: #B3E5FC;
    font-family: sans-serif;
    padding: 25px;
    margin-top: -10px;
}
#store{
      margin-left: 200px;
}
#ba{
    margin-left: 250px;
}
#lvc{
    margin-left: 200px;
}
  